{% extends 'groups/group_base.html' %}
{% block body_block %}
  <div class="jumbotron text-center">
    <h1>Groups</h1>
  </div>
    {% for group in groups %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          <a href="{% url 'group:group_detail' slug=group.slug %}">{{group.name}}</a>
        </h3>
      </div>
      <div class="panel-body">
        <p>{{group.description}}</p>
        {% if user.is_authenticated %}
        <a href="{% url 'group:join_group' slug=group.slug %}">Join this group</a>
        {% endif %}
      </div>
    </div>
    {% endfor %}

{% endblock %}
