{% extends 'account/base.html' %}

{% block body_block %}
  <h1>Posts in Groups you follow</h1>
  <ul>
  {% if posts %}
  {% for post in posts %}
  <li>
    <h3> <a href="{% url 'group:group_detail' slug=post.group.slug %}">{{post.group.name}}</a></h3>
    <p>{{post.text}}</p>
    <p><small>Added by:{{post.user.username}}</small></p>
    <p><small>Added on:{{post.created_at}}</small></p>
    <p><a href="{% url 'account:post_upvote' pk=post.pk %}">Upvotes:{{post.upvotes}}</a><small>Downvotes:{{post.downvotes}}</small></p>
  </li>
  {% endfor %}
  </ul>
  {% else %}
  <h2> No Posts in any group you follow </h2>
  {% endif %}
{% endblock %}
